{% extends "base.html" %}

{% block title %} 
{{ header }}
{% endblock %}
{% block content %}

  <div class="container text-center">
    <H2>Research Opportunities</h2>
    <p class="text-center">If you are looking to become a collaborator with us, fill out this <u><a href="https://goo.gl/forms/wj3QrPfOdotVRWjo1">Google Form</a></u>.</p>
  </div>
  <!-- Start of Collaborations -->
  <div class="container text-center">
    <h1> Ongoing Collaborations </h1>
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.co.uk/maps/d/u/0/embed?mid=133o4gAaNOna_zLEBb8AY34Zj9oBi8QP4&z=2"></iframe>
      </div>
    </div>
    <br/><br/>
    <button type="button" class="btn-lg btn-outline-dark" data-toggle="collapse" data-target="#collaborators">List of Collaborators</button>
        <div id="collaborators" class="collapse"> 
        <br/>
        <h4> Michigan </h4>
        {% for collaborator in michigan %}
         {{collaborator.name}} <br/>
        {% endfor %}
        <br/>
        <h4> United States </h4>
        {% for collaborator in us %}
         {{collaborator.name}} <br/>
        {% endfor %}
        <br/>
        <h4> International </h4>
        {% for collaborator in international %}
         {{collaborator.name}} <br/>
        {% endfor %}          
      </div>
  </div>


  <!-- End of Collaborations -->

{% endblock %}
