{% extends "base.html" %}
{% block title %} 
{{ header }}
{% endblock %}
{% block content %}

  <!-- Start of Conferences -->
  <div class="container text-center">
    <h1> Conferences </h1>
  </div>
    <div class="container embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=umich.edu_3csatbppcp07goa2f9f00jbnj8%40group.calendar.google.com&ctz=America%2FNew_York">Loading...</iframe>
  </div>

  <!-- End of Conferences -->

{% endblock %}