{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/~cgalbanlab/img/craigLogo.png" alt="Craig Logo" width="60%">
        <div class="d-block d-md-none ">
          <br/>
        </div>
      </div>
      <!-- Place for image of labs around the world-->
      <div class="col-md-6">
        <p> Algorithmic development of translatable CT-based biomarkers for disease
        phenotyping and prediction of therapeutic response and survival.</p>
      </div>
    </div>
  </div>
  <!-- Start of Navbar -->
  <nav class="navbar navbar-expand-md bg-light navbar-light container sticky-top">
    <!-- Brand -->
    <ul class="navbar-nav">
      <li class="nav-item active"><a class= "nav-link" href="index.html">Home</a></li>
    </ul>

    <!-- Collapsible Button for Mobile Devices -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> 
      <span class="navbar-toggler-icon"></span>
    </button> 
    
    <!-- Pages with (no) Dropdowns -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="research.html">Research</a></li>
        <li class="nav-item"><a class="nav-link" href="team.html">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="publications.html">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="collaborators.html">Collaborators</a></li>
        <li class="nav-item"><a class="nav-link" href="conferences.html">Conferences</a></li>
        <li class="nav-item"><a class="nav-link" href="opportunities.html">Opportunities</a></li>
      </ul>
    </div>
  </nav>  

  <!-- End of Navbar -->

  <!-- End of Base URL -->
  <!--- Start of Bio -->
  <div class="container">
    <div class="row">
      <!-- Place for image of labs around the world-->
      <div class="col-lg-8">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bio}}</p>
        <!-- Start of Carousel -->
        <div class="container text-center">
          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              {% for image in images %}
              <div class="carousel-item {{image.active}}">
                <img src="{{image.img_url}}" alt="{{image.img_alt}}" width=auto height='500 px'>
              </div>
              {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
            </div>
  <!-- End of Carousel -->
        </div>
      </div>
      <div class="col-lg-4 d-none d-sm-block">
        <h4>Recent News</h4>
        <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="light" href="https://twitter.com/NIH?ref_src=twsrc%5Etfw">Tweets by NIH</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <!-- End of Bio -->
  <!-- Horizontal Line -->
  <div class="container text-center">
    <hr>
  </div>
{% endblock%}

