{% extends "base.html" %}

{% block title %} 
{{ header }}
{% endblock %}

{% block content %}
  <!--- Start of Bio -->
  <div class="container">
    <div class="row">
      <!-- Place for image of labs around the world-->
      <div class="col-lg-8">
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bio}}</p>
        <!-- Start of Carousel -->
        <div class="container text-center">
          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              {% for image in images %}
              <div class="carousel-item {{image.active}}">
                <img src="{{image.img_url}}" alt="{{image.img_alt}}" width=auto height='500 px'>
              </div>
              {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
            </div>
  <!-- End of Carousel -->
        </div>
      </div>
      <div class="col-lg-4 d-none d-sm-block">
        <h4>Recent News</h4>
        <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="light" href="https://twitter.com/NIH?ref_src=twsrc%5Etfw">Tweets by NIH</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <!-- End of Bio -->
{% endblock%}

