{% extends "base.html" %}
{% block title %} 
{{ header }}
{% endblock %}

{% block content %}

  <!-- Start of Opportunities -->
  <div class="container text-center">
    <h1> Job Opportunities </h1>
    <p class="text-center"> For inquiries and opportunities, fill out this Google Form </p>
    <a class="btn btn-outline-dark" href="https://goo.gl/forms/U2BDD2G5bJoIEvKx1">Contact Us</a>
  </div>
  <!-- End of Opportunities -->
  <div class="container text-center">
    <h1> Current Postings </h1>
    <div class="row">
    {% for posting in opportunities %}
      <div class="container text-center">
        <div class="col-md-12">
          <h4>{{ posting.title }}</h4>  
          <p class="text-center">For more information, check the full posting <a class="embed-responsive-item" href="{{posting.pdf}}"> HERE </a> or email {{posting.email}}</p>
      </div>
    {% endfor %}
    </div>
  </div>
 {% endblock %}