{% extends "base.html" %}
{% block title %} 
{{ header }}
{% endblock %}
{% block content %}
  <!-- Start of Publications -->
  <div class="container text-center">
    <h1> Publications </h1>
    <br/>
    <p class="text-center">Click <a href="https://experts.umich.edu/discover/publication?and_facet_profiles_author=735">HERE</a> for a complete list of Publications with statistics and citing information</p>

    {% for year in years %}
      <h2 data-toggle="collapse" data-target="#a{{year.year}}">{{year.year}}</h2>
        <div id="a{{year.year}}" class="collapse">
          {% for publication in year.publications %}
            <a href="{{publication.url}}">{{publication.title}}</a>
            <br/><br/>    
          {% endfor %}
        </div>
    {% endfor %}
  <!-- End of Publications -->

{% endblock %}