{% extends "base.html" %}  

{% block title %} 
{{ header }}
{% endblock %}
{% block content %}
  <!-- Start of Projects -->
  <div class="container text-center">
    <h1> Projects </h1>
  </div>
  <div class="container text-center">
    <div class="row">
      {% for project in projects %}
      <div class="col-sm-4">
        <img src="{{project.img_url}}" alt="{{project.img_alt}}" height="100px" id="icon">
        <h4>{{ project.name }}</h4>
        <p class="smaller"> {{ project.description }}</p>
        <a class="btn btn-outline-dark btn-sm" href="/~cgalbanlab/{{ project.url }}">Webpage</a>
        <br/>
        <br/>
      </div>      
      {% endfor %}

  <!-- End of Projects -->
{% endblock %}
