{% extends "base.html" %}

{% block title %} 
{{ header }}
{% endblock %}

{% block content %}

  <!-- Start of Team Members -->
  <div class="d-none d-lg-block">
    <script>
       $(document).click(function(e) {
      if (!$(e.target).is('.panel-body')) {
          $('.collapse').collapse('hide');	    
        }
    }); 
    </script>
    <!-- Start of Desktop Core Team -->
    <div class="container text-center">
      <h1>Current Members</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          {% for member in members %}
          <h3>{{member.title}}</h3>
          <button type="button" class="btn-lg btn-outline-dark" data-toggle="collapse" data-target="#{{member.target}}">{{member.name}}</button>
          <br/>
          <br/>
          {% endfor %}
        </div>
        <div class="col-md-6">
            {% for member in members %}
            <div id="{{member.target}}" class="collapse">
              <h3>{{member.name}}</h3>
              <p>
              {% for info in member.content %}
               {{info.details}} <br/>
              {% endfor %}
              </p>
              {% if member.img == "true" %}
              <img src="{{member.img_url}}" alt="Member's Photo" height="200">
              {% endif %}
              {% if member.link == "true" %}
              <a href="{{member.link_url}}"> {{member.link_type}} </a> 
              {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End of Core Team -->
    <!-- Start of Affiliated Members -->
    <div class="container text-center">
      <h1>Affiliated Members</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          {% for member in affiliated %}
          <h3>{{member.title}}</h3>
          <button type="button" class="btn-lg btn-outline-dark" data-toggle="collapse" data-target="#{{member.target}}">{{member.name}}</button>
          <br/>
          <br/>
          {% endfor %}
        </div>
        <div class="col-md-6">
            {% for member in affiliated %}
            <div id="{{member.target}}" class="collapse">
              <h3>{{member.name}}</h3>
              <p>
              {% for info in member.content %}
               {{info.details}} <br/>
              {% endfor %}
              </p>
              {% if member.img == "true" %}
              <img src="{{member.img_url}}" alt="Member's Photo" height="200">
              {% endif %}
              <br/>
              {% if member.link == "true" %}
              <a href="{{member.link_url}}"> {{member.link_type}} </a> 
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Affiliated Members -->

  <!-- End of  Desktop Team Members -->
  
  <!-- Start of Mobile Team Members -->
  <div class="d-md-none">
    <div class="container text-center">
      <h1>Current Members</h1>
    </div>    
    {% for member in members %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ member.title }}</h3>
          <button type="button" class="btn-lg btn-outline-dark" data-toggle="collapse" data-target="#{{member.target2}}">{{member.name}}</button>
          <div id="{{member.target2}}" class="collapse">
            <br/>
              <h3>{{member.name}}</h3>
              <p>
              {% for info in member.content %}
               {{info.details}} <br/>
              {% endfor %}
              </p>
              {% if member.img == "true" %}
              <img src="{{member.img_url}}" alt="Member's Photo" height="200">
              {% endif %}
              <br/>
              {% if member.link == "true" %}
              <a href="{{member.link_url}}"> {{member.link_type}} </a> 
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- End of Mobile Team Members -->

    <!-- Start of Mobile Affiliated Members -->
    <div class="container text-center">
      <h1>Affiliated members</h1>
    </div>    
    {% for member in affiliated %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ member.title }}</h3>
          <button type="button" class="btn-lg btn-outline-dark" data-toggle="collapse" data-target="#{{member.target2}}">{{member.name}}</button>
          <div id="{{member.target2}}" class="collapse">
            <br/>
              <h3>{{member.name}}</h3>
              <p>
              {% for info in member.content %}
               {{info.details}} <br/>
              {% endfor %}
              </p>
              {% if member.img == "true" %}
              <img src="{{member.img_url}}" alt="Member's Photo" height="200">
              {% endif %}
              <br/>
              {% if member.link == "true" %}
              <a href="{{member.link_url}}"> {{member.link_type}} </a> 
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- End of Mobile Affiliated Members --> 

{% endblock %}